# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/.idea
/.DS_Store
/conf/config.yaml
/log/*.log
/public/upload/*
!/public/upload/index.html
/apiserver

/cmd/.DS_Store
/cmd/apiserver/.DS_Store
/cmd/consumer/.DS_Store
/cmd/apiserver/conf/config.yaml
/cmd/apiserver/log/*.log
cmd/apiserver/public/.DS_Store
/cmd/apiserver/public/upload/*
!/cmd/apiserver/public/upload/README.MD
/cmd/apiserver/public/update/*
!/cmd/apiserver/public/update/README.MD
/cmd/apiserver/apiserver

/cmd/consumer/conf/config.yaml
/cmd/consumer/log/*.log
/cmd/consumer/consumer